.posters_row{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    /* transform: scale(1.07); */
}
.poster_img:hover{
    transform: scale(1.07);
}
.posters_row::-webkit-scrollbar{
    display: none;
}
.poster_img{
    max-height: 110px;
    object-fit: contain;
    margin-right: 15px;
    transition: all .4s;
}
.poster_img:hover{
    transform: scale(1.08);
}
.big_images{
    max-height: 260px;
}